<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <style>
    .tree__branch.tree__branch--closed .tree__branch-list {
      display: none;
    }

    .tree__branch-title {
      cursor: pointer;
    }
  </style>

  <script src="https://cdn.jsdelivr.net/lodash/4.16.4/lodash.min.js"></script>
  <script src="tree.js" defer></script>
  <script src="index.js" defer></script>
</head>

<body>

<div id="tree"></div>

<script type="text/template" id="tree-template">
  <ul class="tree__branch-list">
    <% for (let key in data) { %>
    <li class="tree__branch">
      <span class="tree__branch-title">
        <b><%- key %></b>
      </span>

      <%= createTree(data[key]) %>
    </li>
    <% } %>
  </ul>
</script>

</body>

</html>