<form class="form-inline">
  <div class="form-group" data-component="filter">
    <label for="filter-by">Search:</label>
    <input type="text" class="form-control" id="filter-by"
      data-element="field">
  </div>

  <div class="form-group">
    <label for="sort-by">Sort by:</label>
    <select id="sort-by" class="form-control">
      <option value="name">Alphabetical</option>
      <option value="age">Newest</option>
    </select>
  </div>
</form>

<ul class="phones list-unstyled" data-element="items-list">
  There are no items
</ul>